@import "tailwindcss";

@theme {
  --color-tea: #A8B79E;
  --color-sage: #9CAF88;
  --color-cream: #F5F1E8;
  --color-sand: #DCCFB8;
  --color-botanical: #556B4F;
}

body {
  background-color: #F5F1E8;
  color: #556B4F;
  font-family: "Inter", sans-serif;
}